@import '../../assets/colors';

.rc-input {
  font-size: 16px;
  width: 100%;
  height: 48px;
  padding: 8px 16px;
  box-sizing: border-box;
  border: 1px solid $color-pale-yellow;
  border-radius: 4px;
  display: inline-block;
  outline: 0;

  &:focus {
    border-color: $color-dark-blue;
  }

  &::placeholder {
    font-size: 14px;
  }
}
