$color-black: #000000;
$color-white: #ffffff;
$color-grey: #5b5b5b;
$color-light-grey: #b4b4b4;
$color-dark-grey: #444444;
$color-darkest-grey: #222222;
$color-yellow: #f4c74c;
$color-pale-yellow: #c8ae5b;
$color-blue: #0a63b0;
$color-light-blue: #e7f4fe;
$color-dark-blue: #0f6193;
$color-red: #961412;
$color-green: #017c44;
$color-orange: #ff9a02;
