.rc {
  &-search-box {
    padding: 20px;
    min-height: 50px;
    min-width: 50px;
    background-color: #f3ce56;

    h1 {
      color: #333;
      font-size: 24px;
    }
  }

  &-lookup-label {
    color: #444;
    font-size: 14px;
    line-height: 1.25rem;
  }

  &-lookup-input {
    margin-top: 5px;
  }
}
