@import-normalize; /* bring in normalize.css styles */

body {
  margin: 0;
  font-family: Open Sans, Segoe UI, Tahoma, sans-serif;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
